{:default
 {:actions {:assets [["assets/app.css" "resources/public/css/app.css"]]}}

 :extras
 {:actions {:assets [["assets/styles.css" "resources/public/css/styles.css"]]}
  :requires [:db]}

 :full
 {:feature-requires [:default :extras]}

 :with-hooks
;; Demonstrates that dependency hooks are run first.
 {:hooks {:post-install ["mv install.sh post-install.txt"]}
  :requires [:hooks]}

 :with-adv-hooks
;; Demonstrates that hooks run in project dir so you can use relative
;; paths because cwd is set to project root before running hooks.
 {:hooks {:post-install
          ["cp resources/public/css/app.css resources/public/css/app.css.bak"]}
  :feature-requires [:default]}}
